body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0738FA;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FF4F07;
}

.logo {
    margin-right: auto; 
}

.logo img {
    height: 55px; 
    width: auto;   
}

nav {
    flex-grow: 0; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #0738FA;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    font-size: 1.2em;
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: #d9dbdb;
    width: 0;
    transition: width 0.3s; 
    position: absolute;
    left: 0;
    bottom: -5px; 
}

nav a:hover::after {
    width: 100%; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #FF4F07;
    color: #d9dbdb;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 250px; 
    height: 300px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease; 
}

.card img {
    width: 100%;
    height: 240px; 
    object-fit: cover; 
}

.card:hover {
    transform: scale(1.05); 
}

footer {
    background-color: #FF4F07;
    color: #0738FA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    align-items: center;
    padding: 0 20px;
}

.footer-container p {
    margin: 0;
}

@media (max-width: 768px) {
    nav ul {
        justify-content: center; 
    }

    nav li {
        margin: 0 10px; 
    }

    .card {
        width: 90%; 
        max-width: 300px; 
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 1em; 
    }

    .card {
        height: auto; 
    }

    footer {
        padding: 10px 0;
    }
}